body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    line-height: 1.8;
    color: #222;
    background-color: #f5f7fb;
}

fieldset {
    width: 420px;
    margin: 50px auto;
    padding: 10px 50px;
    background: #fff;
    border: 4px solid #000;
    border-radius: 12px;
    box-shadow: 0 30px 40px rgba(0,0,0,0.05);
}

legend {
    font-size: 22px;
    font-weight: bold;
    padding: 0 10px;
    text-align: center;
}

.top-buttons {
    text-align: center;
    margin-top: 40px;
}

.btn-primary {
    display: inline-block;
    padding: 10px 44px;
    margin: 0 4px;
    background:#4f63ff;
    color:white;
    text-decoration:none;
    border-radius:5px;
    border:none;
    cursor:pointer;
}

input[type="text"],
input[type="password"] {
    width: 200px;
    height: 25px;
    box-sizing: border-box;
}

.login-submit {
    text-align:center;
    margin-top:20px;
}

ul {
    background-color: #7d83a9ff;
    width: 150px;
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
li a {
    display: block;
    color: #fbfbfbff;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
}
li a:hover {
    background-color: #5769bfff;
    color: white;
}