body {
margin: 0;
}

.background-blur {
font-size: 30px;
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
}

.background-blur::before {
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 600px;
z-index: -1;
background-image : url("./Baekseok_University.jpeg");
background-repeat: no-repeat;
background-size: cover;
opacity: 0.5;
}

